
@{
    ViewData["Title"] = "Index";
}

<h2>This page is for help git commit if project is already exist</h2>
<div>
    <a asp-action="Index" asp-controller="Employee">Back to List</a>
</div>
<div>
    <ul>
        <li>create repository first in Git.</li>
        <li>Here main folder is new Folder "C:\Core\New folder"</li>
        <li>Click on main folder and then right click</li>
        <li>Open git bash command line first step is git init enter</li>
        <li>
            Then git clone " git clone https://github.com/shilpibhattacharya/MVCDemo.git "
        </li>
        <li>Then git add .</li>
        <li>
            After add using this command $ git commit -m "first commit with all CRUD function"
        </li>
        <li>
            Atlast $ git push -u origin master
        </li>
    </ul>
</div>

<h2>Create Branch, do changes and Commit then merge with Master (main branch)</h2>
<div>
    <ul>
        <li>Create a branch for a new story you’re working on. like git branch BranchName</li>
        <li>for switch from master to current branch use git checkout BranchName</li>
        <li> make changes and commit with following command: git commit -a -m 'add create branch points [BranchName]'</li>
        <li>then switch to master :  git checkout master</li>
        <li>then merge with master :  git merge BranchName</li>
    </ul>
</div>
